@model LeitorNfe.Models.Endereco

@{
    ViewData["Title"] = "Endereço";
}

<h1>Detalhes do endereço</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.logadouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.logadouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bairro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.municipio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.municipio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cep)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.IDEndereco">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
